

@keyframes myAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 10px 7.5% 10px 7.5%;
    align-items: center;
    background-color: #000;
    box-shadow: 2px 2px 8px 3px #bfbebe;

}
.box-logo{
    display: flex;
    align-items: center;
}
.box-logo-img{
    width: 50px;
    height: 50px;
}
.box-logo-name{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    
}

.cabecalho-nav{
    display: flex;
    gap: 20px;
    
}
a{
    color: #fff;
}

.nav-item{
    font-size: 14px;   
    transition: 0.3s;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
    height: 19px;
    font-weight: 500;
}
.nav-item:hover{
    border-color: #fff;
    transition: 0.3s;
    
}


.container{
    margin: 30px auto 0 auto;
    max-width: 85%;
    display: flex;
    transition: 2s;
}
.card{
    width: 75%;
}

.card-principal{
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin-bottom: 27px;
}

.card-item{
    width: 31%;
    border: 2px solid #F5F5F5;
    padding: 5px;
    transition: 0.3s;
    animation: myAnimation 3s;
}
.card-item:hover{
    border-color: #37268C;
    transition: 0.3s;
}

.card-item-img{
    width: 100%;
    height: 150px;
    object-fit: scale-down;
    margin-bottom: 8px;
}

.card-item-section{
    background-color: #2E245E;
    color: #fff;
    padding: 3px;
    font-size: 13px;
    margin-top: 5px;
}

.card-item-name{
    font-size: 18px;
    margin: 10px 0 0 0;
}

.card-item-description{
    font-size: 14px;
    margin: 10px 0 0 0;
    line-height: 22px;
}

.card-item-price{
    color: #37268C;
    margin: 10px 0 0 0;

}

.card-item-btn{
    margin: 10px 0 0 0;
    background-color: #fff;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
.card-item-btn:hover{
    color: #37268C;
    border-bottom: 2px solid #37268C;
    transition: 0.5s;
}

.card-lateral{
    width: 25%;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    
}

.barra-pesquisa{
    width: 70%;
    height: 40px;
    padding-left: 10px;
    background-color: #F5F5F5;
    margin-right: 7px;
}

.btn-pesquisar{
    width: 27%;
    height: 40px;
    padding: 5px;
    background-color: #2E245E;
    color: #fff;
    transition: 0.3s;
}
.btn-pesquisar:hover{
    background-color: #493a97;
    transition: 0.3s;
}

.carrinho-title{
    background-color: #37268C;
    color: #fff;
    height: 40px;
    padding: 10px 10px;
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    width: 100%;
}

.carrinho{
    width: 100%;
    height: 299px;
    background-color: #F5F5F5;
    overflow-y: auto;
}

.carrinho-alert-1{

    text-align: center;
    margin-top: 100px;
    animation: myAnimation 1.5s;
}

.carrinho-alert-2{
    margin-top: 5px;
    text-align: center;
    animation: myAnimation 1.5s;
}

.carrinho-item{
    display: flex;
    margin: 11px 0;
    animation: myAnimation 1.5s;
}   

.carrinho-item-img{
    width: 40%;
    height: 85px;
    object-fit: scale-down;
    /* height: 40%; */
    background-color: #fff;
    margin: 0 4px;
    
}

.carrinho-item-title{
    font-size: 14px;
    height: 20px;
    
}

.carrinho-item-preco{
    color: #37268C;
    height: 20px;
    margin-block: 12px;
}

.carrinho-item-btn{
    background-color: #F5F5F5;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.4s;
}

.carrinho-item-btn:hover{
    color: #37268C;
    border-color: #37268C;
    transition: 0.4s;
}

.section-info{
    background-color: #333333;
    color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    animation: myAnimation 1.5s;
}

.section-info-qtd{
    padding: 5px;
}

.section-info-total{
    padding: 5px;
}
.section-info-rigth{
    text-align: end;
    padding: 5px;
}


::-webkit-scrollbar {
    width: 10px;            
}

::-webkit-scrollbar-track {
    background: #d3d3d3;       
}

::-webkit-scrollbar-thumb {
    background-color: #333333;   
    border-radius: 20px;     
}